body {
  font-family: 'Karla', sans-serif;
}
ul {list-style-type: none;}

.container {
  width: 75%;
  margin: 0 auto;
}

.intro { margin: 0 auto;}
.intro p {font-size: 30px; text-align: center;}

nav {
  width: 100%;
  float: right;
  height: 80px;
  border-bottom: 1px solid rgba(63, 50, 80, 0.3);
}
.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
  width: 50%;
  list-style-type: none;
  float: right;
}
nav ul:last-child {
  padding-right: 0;
}

nav li {
  display: inline;
  font-size: 30px;
  padding-right: 60px;
}

footer {
  background-color: #22252c;
  height: 4em;
}

footer ul {
  padding: 0;
  margin: 0;
  padding-top: 1.5em;
  padding-left: 3.5em;
}

footer li {
  display: inline;
  color: white;
  padding-right: 260px
}
