body {
  font-family: 'Karla', sans-serif;
}

nav {
  width: 50%;
  float: right;
  height: 80px;
  display: inline;
  padding-bottom: 20px;
  border-bottom: 1px solid #3f3250;
}
nav li{
  font-size: 30px;
}

ul {list-style-type: none;}
