<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>></h1>
                <h1>Hi I'm Leah!</h1>
                <h1>I am a web developer and graphic designer.</h1>
                <h1>I like making things and beautifing those things.</h1>
            </div>
          <!--   <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->